name: Daily Release
on:
  push:
  #schedule:
  #  # * is a special character in YAML so you have to quote this string
  #  #         ┌───────────── minute (0 - 59)
  #  #         │ ┌───────────── hour (0 - 23)
  #  #         │ │ ┌───────────── day of the month (1 - 31)
  #  #         │ │ │ ┌───────────── month (1 - 12 or JAN-DEC)
  #  #         │ │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
  #  #         │ │ │ │ │
  #  #         │ │ │ │ │
  #  #         │ │ │ │ │
  #  - cron:  '*/10 * * * *'

jobs:
  nightly:
    name: Run Daily Release
    runs-on: ubuntu-latest
    env:
      IMAGE_REPO: "milvusdb"
      DEV: "milvus-dev"
      DAILY: "milvus-nightly"
      TAG_PREFIX: "master-"
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: '0'


    - name: Get the latest of Milvus dev image tag
      shell: bash
      working-directory: ci/scripts
      run: echo "tag=$(./docker_image_find_tag.sh -n ${IMAGE_REPO}/${DEV} -t ${TAG_PREFIX}latest -f ${TAG_PREFIX} -F -L -q)" >> $GITHUB_ENV


        #- name: Pull latest milvus-dev image with tag prefix master-
        #  run: |
        #    docker pull "${IMAGE_REPO}/${DEV}:${{ env.tag }}"
        #    docker tag "${IMAGE_REPO}/${DEV}:${{ env.tag }}" "${IMAGE_REPO}/${DAILY}:${{ env.tag }}"

        #- name: Log in to Docker Hub
        #  uses: docker/login-action@v1
        #  with:
        #    username: ${{ secrets.DOCKERHUB_USERNAME }}
        #    password: ${{ secrets.DOCKERHUB_PASSWORD }}

        #- name: Push Docker image
        #  run: |
        #    docker push "${IMAGE_REPO}/${DAILY}:${{ env.tag }}"

        #- name: tag a new version
        #  run: |
        #    git tag v0.0.20
        #    git push origin v0.0.20


    - name: Set release commit and date env
      shell: bash
      run: |
        tag=${{ env.tag }}
        IFS=- read branch date sha <<< "$tag"
        echo "build=$date" >> $GITHUB_ENV
        echo "sha=$(git rev-parse 1497e4c)" >> $GITHUB_ENV
        echo "releaseDate=$(date +'%Y-%m-%d')" >> $GITHUB_ENV
        #changes="$(git rev-list --abbrev-commit --max-age=$(date -d '24 hour ago' +'%s') --reverse --pretty=oneline HEAD)"
        #echo "changes<<EOF" >> $GITHUB_ENV
        #echo "$changes" >> $GITHUB_ENV
        #echo "EOF" >> $GITHUB_ENV

    - name: Write release notes
      shell: bash
      run: |
        echo  "Milvus-2.0.0-testing-build" >> notes.md
        echo "Relase date: ${{ env.releaseDate }}" >> notes.md
        echo "Image: milvusdb/milvus-nightly:${{ env.tag }}" >> notes.md
        echo "Changes: " >> notes.md
        git rev-list --abbrev-commit --max-age=$(date -d '24 hour ago' +'%s') --reverse --pretty=oneline HEAD | while IFS= read -r line; do
          echo "$line" >> notes.md
        done


        #- name: Fetch latest 24 hours commit log
        #  shell: bash
        #  id: commitLog
        #  run: echo "::set-output name=changes::'$(git rev-list --abbrev-commit --max-age=$(date -d '24 hour ago' +'%s') --reverse --pretty=oneline HEAD)'"

        #- name: Create a daily release
        #  uses: ncipollo/release-action@v1
        #  with:
        #    body: "Milvus-2.0.0-testing-build\n\nRelease date: ${{ env.releaseDate }}\n\nImage: milvusdb/milvus-nightly:${{ env.tag }}\n\nChanges:\n${{ env.changes }}"
        #    token: ${{ secrets.REPO_TOKEN }}
        #    prerelease: true
        #    tag: "v0.0.20"
        #    name: "milvus-2.0.0-testing-build-${{ env.build }}"

    - name: Create a daily release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        body: "Image: ${{ env.IMAGE_REPO}}/${{ env.DAILY }}:${{ env.tag }}"
        prerelease: true
        tag_name: "v0.0.27"
        release_name: "Milvus-2.0.0-testing-${{env.build}}"
        commitish: "${{ env.sha }}"


